body {
    margin: auto;
    max-width: 48em;
    font-family: sans-serif;
    background-color: aliceblue;
}

.header {
    background-color: #a7c7e3;
}

.container {
    display: grid;
    grid-template-columns: min-content min-content min-content;
}

.container > p {
    padding: 1em;
    margin: 0;
}