<!DOCTYPE html>
<html>

<head>
  Basketball Matchmaking
</head>

<body>
  <h1>Frontpage</h1>
  <p>
    Welcome! 
    {% if session.username %}
    Logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    {% endif %} 
  </p>

  <p>
  {% if session.user_id %}
    <a href="/logout">Sign-out</a><br />
  {% else %}
    <a href="/signup">Sign-up</a><br />
    <a href="/login">Log-in</a><br />
  {% endif %}
    <a href="/search">Search</a>
  </p>
  <hr />

  <hr2>Upcoming events:</hr2>
  <hr />
  {% for event in allEvents %}
  <p>
    <a href="/event/{{ event.id }}">  {{ event.date }}, {{ event.name }} </a>
    <br />
    looking for {{ event.size }} people at {{ event.time }}. created by <a href="/user/{{ event.user_id }}">{{ event.username }}</a>
  </p>
  <hr />
  {% endfor %}
  <p>
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    {% endif %}
    Page {{ page }}/{{ page_count }}
    {% if page_count > 1 and page_count > page %}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
    {% endif %}
  </p>

  {% if session.user_id %}
  <h2>Create New Event</h2>
  
  <form action="/new_event" method="post">
    <p>
      Location: <br />
      <select name="location_id" id="location_id">
        <option value=""></option>
        {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Team size: <br />
      <select name = "team_size" id = "team_size">
        <option value=""></option>
        {% for i in range(1,11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      date: <br />
      <input type = "date" name = "date" />
    </p>
    <p>
      time: <br />
      <input type = "time" name = "time" />
    </p>
    
    <br />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create Event" />
  </form>
  {% endif %}
  
</body>

</html>