<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="header">
    <h1>Basketball Matchmaking</h1>
    <p>
      Welcome!
      {% if session.username %}
        Logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
      {% endif %}
      <br />
      {% for message in get_flashed_messages() %}
        <b>{{ message }}</b>
      {% endfor %}
    </p>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Front Page</a></li>
        <li><a href="/search">Search</a></li>
      {% if session.user_id %}
        <li><a href="/logout">Sign-out</a></li>
      {% else %}
        <li><a href="/signup">Sign-up</a></li>
        <li><a href="/login">Log-in</a></li>
      {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    <h2>Upcoming events:</h2>
  {% for event in allEvents %}
  <div class="events">
    <p>
      <a href="/event/{{ event.id }}">  {{ event.date }}, {{ event.name }} </a>
      <br />
      looking for {{ event.size }} people at {{ event.time }}. created by <a href="/user/{{ event.user_id }}">{{ event.username }}</a>
    </p>
  </div>
  {% endfor %}
  <p>
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    {% endif %}
    Page {{ page }}/{{ page_count }}
    {% if page_count > 1 and page_count > page %}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
    {% endif %}
  </p>
  </div>

  <div class="new-event">
  {% if session.user_id %}
    <h2>Create New Event</h2>
    
    <form action="/new_event" method="post">
      <p>
        Location: <br />
        <select name="location_id" id="location_id">
          <option value=""></option>
          {% for location in locations %}
          <option value="{{ location.id }}">{{ location.name }}</option>
          {% endfor %}
        </select>
      </p>
      <p>
        Team size: <br />
        <select name = "team_size" id = "team_size">
          <option value=""></option>
          {% for i in range(1,11) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </p>
      <p>
        date: <br />
        <input type = "date" name = "date" />
      </p>
      <p>
        time: <br />
        <input type = "time" name = "time" />
      </p>
      
      <br />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Create Event" />
    </form>
  {% else %}
  <p>
    You need to be logged in to create an event!<br />
    <a href="/login">Log-in</a> or
    <a href="/signup">Sign-up</a> 
  </p>
  {% endif %}
  </div>  
  
</body>

</html>