<!DOCTYPE html>
<html>

<head>
  Basketball Matchmaking
</head>

<body>
  <h1>Frontpage</h1>
  <p>
    Welcome!
  </p>
  
  {% if session.user_id %}
  <p>
    <a href="/logout">Sign-out</a>
  </p>
  {% else %}
  <p>
    <a href="/signup">Sign-up here</a>
  </p>
  <p>
    <a href="/login">Log-in</a>
  </p>
  {% endif %}
  <hr />

  <form action="/search_date" method="post">
    <p>
      search for date:<br />
      <input type="date" name="datesort" />
    </p>
    <input type="submit" value="Sort" />
  </form>

  <hr />
  <hr2>Upcoming events</hr2>
  {% for event in allEvents %}
  <p>
    <a href="/event/{{ event.id }}">  {{ event.date }}, {{ event.name }} </a>
    <br />
    looking for {{ event.size }} people at {{ event.time }}. created by {{ event.username }}
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Create New Event</h2>
  
  <form action="/new_event" method="post">
    <p>
      Location: <br />
      <select name="location_id" id="location_id">
        <option value=""></option>
        {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Team size: <br />
      <select name = "team_size" id = "team_size">
        <option value=""></option>
        {% for i in range(1,11) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      date: <br />
      <input type = "date" name = "date" />
    </p>
    <p>
      time: <br />
      <input type = "time" name = "time" />
    </p>
    
    <br />
    <input type="submit" value="Create Event" />
  </form>
  {% endif %}
  
</body>

</html>