<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>Login</h1>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
    </div>

    <div class="nav">
        <nav>
          <ul>
            <li><a href="/">Front Page</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/signup">Sign-up</a></li>
          </ul>
        </nav>
    </div>

    <div class="login">
    <form action="/login" method="post">
        <p>
          Username: <br />
          <input type="text" name="username" required/>
        </p>
        <p>
          Password: <br />
          <input type="password" name="password" required/>
        </p>
        <!--input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /-->
        <input type="submit" value="Log-in" />
    </form>
    </div>
</body>

</html>