<!DOCTYPE html>
<html>
<head>
    Log-in
</head>

<body>
    {% for message in get_flashed_messages() %}
    <p>
        <b>{{ message }}</b>
    </p>
    {% endfor %}
    <form action="/login" method="post">
        <p>
          Tunnus: <br />
          <input type="text" name="username" />
        </p>
        <p>
          Salasana: <br />
          <input type="password" name="password" />
        </p>
        <!--input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /-->
        <input type="submit" value="Kirjaudu" />
    </form>
    <p>
        <a href="/">Front Page</a>
    </p>
</body>

</html>