<!DOCTYPE html>
<html>

<head>
    <title>Sign-up</title>
</head>

<body>
    <p>
        {{ message }}
    </p>
    <form action="/signup" method="post">
        <p>
            Username: <br />
            <input type = "text" name = "username" required/>
        </p>
        <p>
            Password: <br />
            <input type = "password" name="password1" required/>
        </p>
        <p>
            Password Again <br />
            <input type = "password" name="password2" required/>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type ="submit" value="Create User" />
    </form> 
    <p>
        <a href="/">Front Page</a>
    </p>   
</body>

</html>