<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>Sign-up</h1>
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}
    </div>

    <div class="nav">
        <nav>
          <ul>
            <li><a href="/">Front Page</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/login">Log-in</a></li>
          </ul>
        </nav>
    </div>

    <div class="login">
    <form action="/signup" method="post">
        <p>
            Username: <br />
            <input type = "text" name = "username" required/>
        </p>
        <p>
            Password: <br />
            <input type = "password" name="password1" required/>
        </p>
        <p>
            Password Again <br />
            <input type = "password" name="password2" required/>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type ="submit" value="Create User" />
    </form>  
    </div> 

</body>

</html>